.home-section-container {
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    display: flex;
    flex-direction: column;
}
.homeSectionNAvbarAndContent {
    display: flex;
    flex-direction: row;
}
.airportsSectionContent {
    width: 100%;
    height: 100%;
    padding: 34px;
    display: flex;
    flex-direction: column;
}
